extends layout

block content
	title Activity Log
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.container
				h1.ui.dividing.header.center.aligned Activity Log

		// Table Proper
		.ui.container
			table#activity-log-table.ui.celled.table.selectable
				thead
					tr
						th Type
						th Done By/Issued By
						th Date
				tbody
					each item in act_log
						tr
							td= item.message
							td= item.issuedBy
							td= item.timestamp

	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.semantic-ui.min.js')
